@model herman.Models.Search

@if (Model != null)
{
    foreach (var item in Model.results)
    {
        <p>
            <img src="@item.Poster" class="cover" />
            @item.Title
            -
            @item.Year
        </p>
    }
}